*~
*/*~
*.d
*.o
*/*.o
lib
*.a
*.h5
*.xmf
build
.DS_Store
._*
*.swp

/README.html

dependencies/
/makefiles/simulation
/makefiles/cubismup3d_open
/makefiles/cubismup3d_periodicz

# CMake stuff
CMakeCache.txt
CMakeFiles
cmake_install.cmake
/Makefile
/makefiles/Makefile
