*~
*/*~
*.d
*.o
*/*.o
*.a
*.so
*.h5
*.xmf

*.pyc
__pycache__

.DS_Store
._*
*.swp
*.xcodeproj
/build
/bin
/cmake/check_mpi_thread_safety
/dependencies
/lib
/launch/results
/tests/.cache
/accfft/build
/README.html
